

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    touch-action: manipulation;

}
h1{
    color:goldenrod;

}
body{
    text-align: center;
        text-transform:uppercase;
        background:#1a1a1a;
        color:white;
        align-items: center;
        margin:0;
        height:100vh;
        justify-content: center;
        


}
#gameArea{
    text-transform:uppercase;
    height:400px;
    margin-top:20px;
    border-radius:10px;
    background:#333;
    position:relative;
    width:300px;
  align-items: center;
  display: flex;
 



}
.box{
    width:80px;
    height:80px;
    background:blue;
    position:absolute;
    cursor:pointer;


}
button{
padding:10px 20px;
font-size:16 px;
background-color: rgb(127, 236, 24);

}



